[Unit]
Description=Tilt Bluetooth Service
After=network.target

[Service]
WorkingDirectory=/home/pi/Desktop/Tilt
ExecStart=/usr/bin/npm start
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target