[Unit]
Description=Tilt Bluetooth Service
After=network.target

[Service]
WorkingDirectory=/home/pi/TiltService
ExecStart=/usr/local/bin/npm start
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target